<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Zip" version="25.9.0" targetFramework="net48" />
  <package id="AWSSDK.Core" version="4.0.3" targetFramework="net48" />
  <package id="AWSSDK.S3" version="4.0.11.1" targetFramework="net48" />
  <package id="BouncyCastle.Cryptography" version="2.6.1" targetFramework="net48" />
  <package id="MailKit" version="4.14.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.78.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="8.14.0" targetFramework="net48" />
  <package id="MimeKit" version="4.14.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="6.0.1" targetFramework="net48" />
  <package id="System.Formats.Asn1" version="8.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="8.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="8.0.5" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>